*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #f98bc7;
    --text-color: #ffff;
    --main-color:#ffff;

    --big-font: 7rem;
    --p-font: 1.1rem;
    

}
